<footer>
    <div class="container-fluid">
        <div class="row text-white">
            <div class="col-lg-6 p-5">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">Features</a></li>
                    <li><a href="#" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-6 p-5">
                <ul class="list-inline">
                    <li class="list-inline-item">Facebook</li>
                    <li class="list-inline-item">Instagram</li>
                    <li class="list-inline-item">Mail</li>
                </ul>
            </div>
        </div>
    </div>
</footer>