<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header class="border-bottom">
    <%- include('partials/navbar')%>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center mt-5 mb-5">Design and Develop By</h1>
            </div>
        </div>
        <div class="row">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="images/c1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Chandra Prakash Sharma</h5>
                        <p class="card-text">cpsharma996@gmail.com</p>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="images/c2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Khushboo Panwar</h5>
                        <p class="card-text">xyz@gmail.com</p>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="images/c3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rangoli Mantri</h5>
                        <p class="card-text">xyz@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>